<div id="{{ section.settings.nav-bar-id }}"></div>

{% schema %}
{
  "name": "NavBarID",
  "settings": [
    {
      "type": "text",
      "id": "nav-bar-id",
      "label": "ID"
    }
  ],

  "presets": [{ "name": "NavBarID" }]
}
{% endschema %}
